.list {
  list-style: none;
  padding: 0;
}

.subItem {
  margin: 0.6em 0;
  font-size: 0.9em;
}

.lineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalLine {
  margin: 1.2em 0;
}

.totalLabel {
  font-size: 0.9em;
  font-weight: bold;
}

.totalValue {
  font-size: 1.5em;
}

@media screen and (min-width: 768px) {
  .subItem {
    font-size: 0.7em;
  }

  .totalLabel {
    font-size: 0.7em;
  }

  .totalValue {
    font-size: 1.2em;
  }
}
