.content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .root {
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }

  .content {
    width: 100%;
    max-width: 650px;
    display: flex;
  }
}
