.root {
  margin: 1.5em 0;
}

.label {
  font-size: 0.9em;
  font-weight: bold;
}

.select {
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:focus {
  outline: none;
  outline-offset: unset;
}

.option {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .root {
    margin: 1em 0;
  }

  .label {
    font-size: 0.7em;
  }

  .select {
    font-size: 1.1em;
    padding: 0.25em 0;
  }
}
