@import '../../../sharedStyles.css';

.root {
  margin: 1.5em 0;
}

.label {
  font-size: 0.9em;
  font-weight: bold;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 100%;
}

.input:focus {
  border-bottom-color: var(--peachorange);
  outline: none;
  outline-offset: unset;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 0.7em;
  }

  .input {
    font-size: 1.1em;
    padding: 0.25em 0;
  }
}
