@import '../../sharedStyles.css';

.root {
  background-color: var(--white);
  color: var(--yankeesblue);
}

.margin {
  margin: 1.5em;
}

.hr {
  background-color: #ddd;
  border: none;
  height: 1px;
}
