@import '../../sharedStyles.css';

.root {
  color: white;
  padding: 1em;
}

.root::before {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/jj-2.jpg')
    center / cover no-repeat;
  content: '';
  height: 300px;
  display: block;

  /* background image should fill width of screen */
  /* need to reverse the effect of the 1em padding applied to .root */
  width: calc(100% + 2em);
  margin: -1em;
}

.heading {
  font-size: 2.3em;
  margin: 0.5em 0;
  font-family: 'Playfair Display', serif;
}

.price {
  font-size: 2em;
  font-weight: 100;
}

.priceUnit {
  font-size: 1.2em;
  font-weight: 300;
}

.capacityLine {
  font-weight: 300;
}

.capacity {
  font-weight: 900;
}

.datesLine {
  font-weight: 300;
}

.date {
  font-weight: 900;
}
